# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Docker volumes & misc
db-data/
*.log

# OS / Editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Ignore user profile images
backend/static/uploads/profile_pictures/*
!backend/static/uploads/profile_pictures/.keep