fastapi
uvicorn
mysql-connector-python
python-jose
bcrypt
email-validator
python-multipart
SQLAlchemy>=1.4
pydantic-settings
aiomysql>=0.1.0
python-dotenv==1.0.0
httpx
greenlet>=2.0.0
geopy>=2.3.0
cryptography
stripe
