@import url(fonts.css);

:root{
    --login_background: #CC2F8B;
    --register_bcg: #2c2c2c;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Font */

@font-face {
    font-family: "Baskerville";
    src: url("../Baskervville-Regular.ttf") format("truetype");
  }

/* Font END */

body {
    font-family: "Baskerville", serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}
header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.logo span {
    color: #e91e63;
}
.nav-buttons button {
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.login,
.login_link_page {
    background-color: var(--login_background);
    color: white;
}
.register {
    background-color: var(--register_bcg);
    color: white;
}

footer {
    background-color: white;
    border-top: 1px solid #ccc;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
}
.footer-logo {
    font-size: 20px;
    font-weight: bold;
}
.footer-logo span {
    color: #e91e63;
}
.social-icons{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.social-icons img {
    width: 24px;
    margin-right: 10px;
}
.footer-links p {
    margin: 5px 0;
    font-size: 14px;
} 
.twitter_link1{
    padding-top: 3px;
}
.h4_service{
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 15px;
}
.pic_logo{
    max-width: 120px;
    width: 100%;
}


/* index pictures slider */

.gallery {
  --s: 250px; /* the size */
  
  display: grid;
  transform-style: preserve-3d;
  --_p: perspective(calc(2.5*var(--s)));
  animation: r 30s infinite cubic-bezier(.5,-0.5,.5,1.5);
}
.gallery img {
  grid-area: 1/1;
  width: var(--s);
  aspect-ratio: 1;
  object-fit: cover;
  transform: var(--_t,) translateZ(calc(var(--s)/2));
}
.gallery img:nth-child(2) {--_t: rotateX(-90deg)}
.gallery img:nth-child(3) {--_t: rotateY( 90deg)}
.gallery img:nth-child(4) {--_t: rotateX(180deg) rotate( 90deg)}
.gallery img:nth-child(5) {--_t: rotateX( 90deg)}
.gallery img:nth-child(6) {--_t: rotateY(-90deg)}

@keyframes r {
  0%,3%   {transform: var(--_p) rotate3d(0, 0, 0, 0deg)}
  14%,19% {transform: var(--_p) rotate3d(-1, 1, 0, 180deg)}
  31%,36% {transform: var(--_p) rotate3d(0, -1, 0, 90deg)}
  47%,52% {transform: var(--_p) rotate3d(1, 0, 0, 90deg)}
  64%,69% {transform: var(--_p) rotate3d(1, 0, 0, -90deg)}
  81%,86% {transform: var(--_p) rotate3d(0, 1, 0, 90deg)}
  97%,100%{transform: var(--_p) rotate3d(0, 0, 0, 0deg)}
}


.image_cube {
  height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: black;
  
    margin-bottom: 100px;
  
}

.image_cube-text{
  max-width: 500px;
  width: 100%;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 40px;
}

@keyframes b {
  0%,3%   {background: #774F38}
  14%,19% {background: #C5E0DC}
  31%,36% {background: #036564}
  45%,55% {background: #B38184}
  64%,69% {background: #424254}
  81%,86% {background: #4DBCE9}
  97%,to  {background: #774F38}
}



/* index pictures slider END */

/* Log-in */

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container_input{
    max-width: 400px;
    width: 100%;
    padding: 10px 10px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
}
label,
input,
label,
.city_label{
    display: inline-block;
    font-weight: 500;
    margin-bottom: 5px;
}
input[type="email"]{
    display: inline-block;
    border: 2px solid #d1d3d4;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    outline: none;
    letter-spacing: 0.5px;
    font-weight: 400;
    padding: 10px;
}

#error-msg{
    display: none;
    color: #ff2851;
    font-size: 14px;
}

.pass_label{
    margin-top: 15px;
}

.password_class,
.name_input,
.city_input{
    display: inline-block;
    border: 2px solid #d1d3d4;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    outline: none;
    letter-spacing: 0.5px;
    font-weight: 400;
    padding: 10px;
}

.forgot{
    display: inline-block;
    font-size: 12px;
    margin-top: 10px;
    color: #2c2c2c;
    text-decoration: underline;
}

.login_link_page {
    max-width: 400px;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

/* Log-in END */

/* Register */

.label_repeat{
    margin-top: 5px;
}

/* Register END */

/* Forgot-password */

.forgot_text{
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 10px;
}

.worries{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    text-decoration: underline;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
  
.popup-content {
    background-color: #fff;
    padding: 20px;
    width: 300px;
    margin: 100px auto;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

/* Forgot-password END */

/* Reset-password */

.label_repeat_V5{
    margin-top: 20px;
}

/* Reset-password END */

/* FAQ */

.faq_3 .container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: block;
  padding-top: 10px;
  padding-right: 60px;
  padding-bottom: 10px;
  padding-left: 60px;
}

.faq_3 .text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
}

.faq_3 .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.faq_3 .answer-box {
  max-height: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: max-height;
}

.faq_3 .faq.active .openimg {
  transform: rotate(180deg);
}

.faq_3 .openimg {
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-property: transform;
}

.faq_3 .faq.active .answer-box {
  max-height: 550px;
}

.faq_3 input:focus {
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
}

.faq_3 .responsive-container-block.container {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.faq_3 .responsive-container-block.faqheading-bg {
  background-color: #cc2f8bc3;
  height: 390px;
  flex-direction: column;
  text-align: center;
  color: white;
  align-items: center;
}

.faq_3 .text-blk.faq-heading {
  font-size: 48px;
  line-height: 50px;
  font-weight: 800;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 28px;
  margin-left: 0px;
}

.faq_3 .text-blk.faq-subhead {
  max-width: 650px;
  font-size: 18px;
  line-height: 26px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 28px;
  margin-left: 0px;
}

.faq_3 .input {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: inset;
  border-right-style: inset;
  border-bottom-style: inset;
  border-left-style: inset;
  border-top-color: #767676;
  border-right-color: #767676;
  border-bottom-color: #767676;
  border-left-color: #767676;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  height: 45px;
  width: 100%;
  font-size: 15px;
  padding-top: 1px;
  padding-right: 24px;
  padding-bottom: 1px;
  padding-left: 24px;
}

.faq_3 .input-box {
  background-color: white;
  max-width: 550px;
  width: 100%;
  height: 45px;
  display: flex;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.faq_3 .search-btn {
  height: 45px;
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  cursor: pointer;
}

.faq_3 .heading-content {
  margin-top: 100px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.faq_3 .form-box {
  float: none;
  display: flex;
  justify-content: center;
}

.faq_3 .responsive-container-block.dropdown-container {
  background-color: white;
  max-width: 850px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
  height: auto;
  flex-direction: column;
  display: block;
  margin-top: -120px;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
}

.faq_3 .search-svg {
  width: 20px;
  height: 20px;
}

.faq_3 .responsive-container-block.dropdown-container-wrapper {
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 30px;
}

.faq_3 .text-blk.faq-head2 {
  text-align: center;
  font-size: 42px;
  line-height: 60px;
  font-weight: 900;
  margin-top: 60px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
}

.faq_3 .faq {
  display: block;
  flex-direction: column;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #aaaaaa;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 25px;
  margin-left: 0px;
}

.faq_3 .faq-question-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.faq_3 .text-blk.faq-questions {
  color: #525252;
  font-size: 22px;
}

.faq_3 .text-blk.faq-answer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  color: #9c9c9c;
  font-size: 19px;
  line-height: 28px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.faq_3 .faq-question-container:hover {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .faq_3 .text-blk.faq-answer {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .faq_3 .responsive-container-block.faqheading-bg {
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
  }

  .faq_3 .text-blk.faq-heading {
    font-size: 40px;
    line-height: 42px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 24px;
    margin-left: 0px;
  }

  .faq_3 .text-blk.faq-subhead {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 24px;
    margin-left: 0px;
  }

  .faq_3 .text-blk.faq-head2 {
    font-size: 38px;
  }

  .faq_3 .text-blk.faq-questions {
    font-size: 22px;
  }

  .faq_3 .text-blk.faq-answer {
    font-size: 18px;
  }

  .faq_3 .text-blk.faq-questions {
    font-size: 20px;
  }

  .faq_3 .text-blk.faq-answer {
    font-size: 16px;
    line-height: 23px;
  }
}

@media (max-width: 500px) {
  .faq_3 .responsive-container-block.dropdown-container-wrapper {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
  }

  .faq_3 .text-blk.faq-heading {
    font-size: 38px;
  }

  .faq_3 .heading-content {
    margin-top: 60px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .faq_3 .text-blk.faq-subhead {
    font-size: 18px;
  }

  .faq_3 .text-blk.faq-head2 {
    font-size: 30px;
    line-height: 46px;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
  }

  .faq_3 .container-block {
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
  }

  .faq_3 .faq-question-container {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
  }

  .faq_3 .text-blk.faq-questions {
    font-size: 19px;
  }

  .faq_3 .text-blk.faq-answer {
    font-size: 16px;
    line-height: 22px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .faq_3 .responsive-container-block.dropdown-container {
    margin-top: -100px;
    margin-right: 0px;
    margin-bottom: 100px;
    margin-left: 0px;
  }
}
/* FAQ END */

/* Contact-us */
.body_contact {
  background: #f7f7f7;
  margin: 0;
  font-family: "Baskerville", serif;
}

.form_contact {
  width: 500px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
 
}

.contact_h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  color: #CC2F8B;
  border-bottom: 3px solid #CC2F8B;
}

.contact_us_h2{
  margin: 10px 0;
  text-align: center;
  color: black;
}

.contact_p_out,
.contact_p_end{
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
}

.contact_p_end{
  padding-top: 0px;
  margin-bottom: 20px;
}

.contact_p_text{
  font-size: 13px;
}


.contact_input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  border: 0;
  resize: none;
  border-bottom: 2px solid #bebed2;
  transition: all 0.3s;
}

.contact_message {
  min-height: 0px;
  resize: vertical;
  line-height: 1.2;
  font-family: "Baskerville", serif;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  border: 0;
  border-bottom: 2px solid #bebed2;
  
}

.contact_message:focus {
  border-bottom: 2px solid #78788c;
  transition: 0.3s;
}

.contact_input:focus {
  border-bottom: 2px solid #78788c;
}

.contact_p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a;
}

.contact_btn {
  padding: 8px 12px;
  margin: 8px 0 0;
  border: 2px solid #CC2F8B;
  background: none;
  color: #CC2F8B;
  cursor: pointer;
  transition: all 0.3s;
}



.tooltip {
  position: absolute;
  bottom: -15px;
  right: -20px;
  background: #50505a;
  color: #fff;
  width: 320px;
  padding: 16px 4px 16px 0;
  border-radius: 6px;
  font-size: 13px;
  box-shadow: 10px 10px 40px -14px #000;
}

span {
  margin: 0 5px 0 15px;
}

/* Contact-us END */

/* About-us */

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  line-height: 25px;
}

.responsive-container-block.bigContainer {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainImg {
  color: black;
  max-width: 300px;
  width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px 7px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.text-blk.headingText {
  font-size: 25px;
  font-weight: 700;
  line-height: 34px;
  color: rgb(51, 51, 51);
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.allText {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 40px;
  width: 40%;
  margin: 0 0 0 0;
}

.text-blk.subHeadingText {
  color: rgb(102, 102, 102);
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
}

.text-blk.description {
  font-size: 14px;
  line-height: 18px;
  color: rgb(102, 102, 102);
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
}


.responsive-container-block.Container {
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  max-width: 1320px;
  padding-right: 10px;
  padding-left: 10px;
}

.responsive-container-block.Container.bottomContainer {
  margin-top: 100px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
  flex-direction: row-reverse;
  margin: 100px auto 50px auto;
}

.allText.aboveText {
  margin: 0 0 0 40px;
}

.allText.bottomText {
  margin: 0 40px 0 0;
}

@media (max-width: 1024px) {
  .responsive-container-block.Container {
    max-width: 850px;
  }

  .mainImg {
    width: 55%;
    height: auto;
  }

  .text-blk.description {
    font-size: 14px;
  }

  .allText {
    width: 40%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
  }

  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .text-blk.subHeadingText {
    font-size: 16px;
  }

  .responsive-container-block.Container.bottomContainer {
    margin: 80px auto 50px auto;
  }

  .responsive-container-block.Container {
    max-width: 830px;
  }

  .allText.aboveText {
    margin: 30px 0 0 40px;
  }

  .allText.bottomText {
    margin: 30px 40px 0 0;
  }
}

@media (max-width: 768px) {
  .mainImg {
    width: 90%;
  }

  .allText {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .responsive-container-block.Container {
    flex-direction: column;
    height: auto;
  }

  .text-blk.headingText {
    text-align: center;
  }

  .text-blk.subHeadingText {
    text-align: center;
    font-size: 25px;
  }

  .text-blk.description {
    text-align: center;
    font-size: 14px;
  }

  .allText {
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .allText.aboveText {
    margin: 40px 0 0 0;
  }

  .responsive-container-block.Container {
    margin: 80px auto 50px auto;
  }

  .responsive-container-block.Container.bottomContainer {
    margin: 50px auto 50px auto;
  }

  .allText.bottomText {
    margin: 40px 0 0 0;
  }
}

@media (max-width: 500px) {
  .responsive-container-block.Container {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    width: 100%;
    max-width: 100%;
  }

  .mainImg {
    width: 100%;
  }

  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 25px;
  }

  .text-blk.subHeadingText {
    font-size: 25px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .text-blk.description {
    font-size: 14px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .allText {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 100%;
  }
}

/* About-us END */

/* Privacy-policy */


/* Provacy-policy END */

/* Student Start */

/* Student/home */
.student_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.bell_menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.bell_image{
    width: 33px;
    height: 33px;
    
}
.bell_div{
    padding-right: 20px;
}





/* Menu Button */

#menuHamToggle {
    display: block;
    position: relative;
    top: 3px;
    z-index: 1;
    user-select: none;
}

/* toggle on click item */
#menuHamToggle input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

/* Making hamburger */
#menuHamToggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.7s cubic-bezier(0.1, 0.2, 0.5, 1.0),
                background 0.7s cubic-bezier(0.1, 0.2, 0.5, 1.0),
                opacity .7s ease;
}


#menuHamToggle span:first-child{
    transform-origin: 0% 0%;
}

#menuHamToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
}

/* Rotate the hamburger on cross mark on click */
#menuHamToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #f30606;
}
/* Hiding the middle one to make perfect cross */
#menuHamToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/* Change the direction of last one */
#menuHamToggle input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(0, -1px);
}

/* Position the menu on the top left */
#mainMenu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 0px;
  right: 0px;
  padding-top: 100px;
  background: white;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(0%, -100%); /* Just change the value to animate it from another direction */
  transition: transform 1s cubic-bezier(0.55, 0.2, 0.05, 1.0);
}

#mainMenu li{
  padding: 5px 5px;
  font-size: 20px;
  background: none;
  text-align: center;
  color: black;
}

#mainMenu li:hover {
  background: pink;
  color: black;
  font-weight: bold;
}

/* Slide it on click */
#menuHamToggle input:checked ~ ul {
    transform: none;
}
/* Menu Button END */



.user-section {
    text-align: center;
    padding: 40px 20px;
  }
  
  .user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .user-fullname {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .button-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .action-button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid orange;
    border-radius: 30px;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    color: #000;
  }
  
  .action-button:hover {
    background-color: orange;
    color: white;
  }
  
  .welcome{
    color: #d62d81;
  }
  
  .consultant-section {
    /* BCG Image link (https://www.google.com/url?sa=i&url=https%3A%2F%2Fnews.instant-gaming.com%2Fen%2Farticles%2F11483-a-mod-to-introduce-the-gta-vi-map-into-gta-v-has-been-taken-down-following-a-complaint-from-take-two&psig=AOvVaw2IdzN1LPsz8YauwvokwY_R&ust=1746003166664000&source=images&cd=vfe&opi=89978449&ved=0CBgQjhxqFwoTCPDtiebu_IwDFQAAAAAdAAAAABAP) */
    background-image: url('../images/background.jpg'); /* Replace with your actual path */
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    text-align: center;
  }
  
  .consultant-overlay {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 30px;
    border-radius: 12px;
  }
  
  .consultant-overlay h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .highlight {
    color: #b04aa1; /* Purple text for "Consultant" */
  }
  
  .search-button {
    padding: 10px 30px;
    font-size: 18px;
    border: 3px solid #b04aa1;
    background-color: transparent;
    color: #333;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #b04aa1;
    color: white;
  }
  
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: none; /* hidden by default */
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .modal-content {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  
  .modal-buttons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .modal-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .modal-buttons button:first-child {
    background-color: #d62d81;
    color: #fff;
  }
  
  .modal-buttons button:last-child {
    background-color: #ddd;
  }
  
  
  
/* Student/home END */

/* Student/profile */

.profile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px 20px;
  }
  
  .profile-picture {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .change-pic-link {
    display: block;
    margin-top: 10px;
    font-size: 20px;
    color: #000;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 50px;
  }
  
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .change-pic-link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .change-pic-link:hover{
    text-decoration: underline;
    transition: 0.5s;
  }
  
  
  .profile-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
  }
  
  .form-group, 
  .country-group,
  .gender-group {
    margin-bottom: 20px;
    max-width: 600px;
    width: 100%;
  }
  
  .gender-group{
    max-width: 200px;
    width: 100%;
  }
  
  .form-group label,
  .country-group label,
  .gender-group label,
  .city_label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
  }
  
  .profile-form input,
  .profile-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f8f8f8;
    font-size: 14px;
    resize: vertical;
  }
  
  .profile-form textarea {
    min-height: 70px;
  }
  
  .profile-form input[disabled],
  .profile-form textarea[disabled] {
    color: #777;
    background-color: #f0f0f0;
    cursor: not-allowed;
  }
  
  .form-buttons {
    text-align: right;
    margin-top: 20px;
  }
  
  .edit-btn,
  .contact_btn {
    background: white;
    color: #d62d81;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #d62d81;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .edit-btn:hover {
    background: #d62d81;
    color: white;
  }
  
  .contact_btn:hover {
    background: #d62d81;
    color: white;
  }
  
  .language-group,
  .country-group,
  .city-group {
    width: 100%;
   text-align: start;
    display: flex;
    flex-direction: column;
  }
  
  .language-group label {
    display: block;
    font-weight: bold;
  
  }
  
  .language-group textarea {

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f8f8f8;
    font-size: 14px;
    resize: vertical;
    margin-top: 5px;
  }
  
  .language-group textarea:disabled {
    color: #777;
    background-color: #f0f0f0;
  }
  
  .language-group select,
  .country-group select,
  .gender-group select,
  .select_language select {
    width: 180px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f8f8f8;
    font-size: 14px;
  }
  
  .language-group select:disabled,
  .country-group select:disabled,
  .gender-group select:disabled,
  .city-group select:disabled,
  .select_language select:disabled {
    color: #777;
    background-color: #f0f0f0;
    cursor: not-allowed;
  }
  
  .language-group{
    margin-top: 4px;
    max-width: 200px;
  }
  
  .gender_country{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .city-group{
    margin-top: 21px;
    text-align: start;
    
  }
  
.city_input[disabled] {
  color: #777;
  background-color: #f0f0f0;
  cursor: not-allowed;
}

.city_input{
  border: 1px solid #ccc;
  width: 180px;
}

.city_input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f8f8f8;
    font-size: 14px;
    resize: vertical;
}

.profile-picture{margin-right: 50px;}
  


/* Student/profile END */

/* Student/appointments */
.appointments-section{
    align-items: center;
    margin-bottom: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}


.appointment-tabs {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .tab {
    background-color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 20px;
    border-bottom: 2px solid transparent;
  }
  
  .tab.active {
    border-bottom: 2px solid #d62d81;
    font-weight: bold;
  }
  
  .appointment-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    background-color: #fafafa;
    max-width: 800px;
    width: 100%;
    margin-bottom: 30px;
    align-items: center;
  }
  
  .appointment-info {
    flex: 2;
  }
  
  .appointment-info p {
    margin: 5px 0;
    font-size: 16px;
  }
  
  .appointment-info select,
  .appointment-info textarea {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    resize: vertical;
  }
  
  textarea[disabled] {
    color: #555;
    cursor: not-allowed;
  }
  
  .appointment-actions {
    flex: 1;
  }
  
  .appointment-actions input {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    cursor: pointer;
  }
  
  .message-btn {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    max-width: 300px;
    width: 100%;
    padding: 10px;
    border: 2px solid #d62d81;
    background-color: white;
    color: #d62d81;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .message-btn:hover {
    background-color: #d62d81;
    color: white;
  }
  
  .add_label{
    margin-top: 20px;
  }
  
  .meeting_label{
    margin-top: 10px;
  }
  


/* Student/appointments END */

/* Student/messages */

.chat-list-container {
    padding: 20px;
  }
  
  .message-card {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background 0.2s;
  }
  
  .message-card:hover {
    background-color: #f9f9f9;
  }
  
  .message-card.unread {
    background-color: #fff2f6;
    font-weight: bold;
  }
  
  .chat-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .chat-content {
    flex: 1;
  }
  
  .chat-content h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .message-preview {
    margin: 5px 0;
    color: #555;
  }
  
  .message-date {
    font-size: 12px;
    color: #888;
  }
  
  .chat-actions button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #c00;
  }
  
  .no-messages {
    text-align: center;
    padding: 40px;
    font-style: italic;
  }

  
  /* Student/messages END */
  
  /* Student/chat */
  .chat-conversation-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
  }
  
  .back-button, .report-btn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .consultant-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .consultant-info .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .consultant-name {
    font-weight: bold;
    text-decoration: none;
    color: #000;
  }
  
  .chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .message-bubble {
    max-width: 60%;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 15px;
    position: relative;
  }
  
  .message-bubble.me {
    background-color: #dcf8c6;
    align-self: flex-end;
    margin-left: auto;
  }
  
  .message-bubble.consultant {
    background-color: #fff;
    align-self: flex-start;
    margin-right: auto;
  }
  
  .bubble-content {
    display: flex;
    flex-direction: column;
  }
  
  .timestamp {
    font-size: 11px;
    color: #777;
    margin-top: 5px;
    align-self: flex-end;
  }
  
  .chat-input {
    display: flex;
    padding: 10px 20px;
    border-top: 1px solid #ccc;
    background-color: #fff;
  }
  
  .chat-input input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
  }
  
  .chat-input button {
    margin-left: 10px;
    padding: 5px 20px;
    background-color: #d62d81;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    height: 35px;
  }
  
  .chat-input button:hover {
    background-color: #f5017b;
  }
  
  /* Student/chat END */


/* Student END */